.onoffswitch {
    margin-right: 3px;
    position: relative; width: 30px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;
    vertical-align: bottom;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 18px; padding: 0; line-height: 18px;
    border: 1px solid #CCCCCC; border-radius: 18px;
    background-color: #FFFFFF;
    transition: background-color 0.1s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 11px;
    border: 1px solid #CCCCCC; border-radius: 18px;
    transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}