.pendingWrapper {
  position: relative;
}

.pendingOverlayBackground {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  opacity: 0.2;
  z-index: 999;
}

.pendingOverlayContent {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  color: #333;
  z-index: 1000;
}

.pendingOverlayContent .centered {
  text-align: center;
}
